/*:root {
  --bg: #282c34;
  --header: #fff;
  --link: #61dafb;
  --text: hsla(0, 0%, 100%, 0.88);
}*/

.App{
  text-align: center;
}

.App-header{
  background-color: rgb(51, 0, 255);
}

.App-link{
  color:rgb(255, 161, 127);
}

.nav-link{
  margin: 0 1rem;
  color:black;
  font-weight: bold;
}

.nav-link.active{
  font-weight: bold;
  color: rgb(255, 145, 0);
}

body {
  background-color :bisque;
  padding: 20px;

}

